/.vscode
/data/caltab
/data/clouds
/data/imgs
/data/ins
/data/logs
/data/temp_scan_data
/data/videos
/generate_cloud_core/build
/generate_cloud_core/bin
/generate_cloud_core/third_party
__pycache__
/logs